body {
  font-family: "GothamProLighter", sans-serif;
  font-size: 14px;
  min-width: 300px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

html, body {
  overflow: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

.hidden {
  display: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none; }

a {
  color: #7d7f7e;
  transition: all 0.3s ease; }

a:hover {
  color: #00c4fd; }

a {
  outline: none !important; }

body {
  background-color: #fff; }

h1 {
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%;
  max-width: 1920px;
  margin: auto; }

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: auto;
  transition: all 0.5s ease; }
  .wrapper.--max-width {
    max-width: 1903px; }
  .wrapper.--padding {
    padding: 0 100px; }

.content {
  flex: 1 0 auto; }

.footer {
  flex: 0 0 auto; }

.header {
  display: inline-block;
  width: 100%; }

.header-logo {
  transition: all 0.5s ease; }
  .header-logo.--position {
    margin-top: 11.4vh;
    float: left; }

.header-navigation {
  transition: all 0.5s ease; }
  .header-navigation.--font-style {
    font-family: GothamPro;
    font-size: 12px;
    text-transform: uppercase; }
  .header-navigation.--position {
    float: right;
    margin-top: 12vh; }
  .header-navigation .--list-style li {
    display: inline-block;
    margin-left: 60px; }
  .header-navigation .__mobile-navigation.--position {
    margin-right: 48px;
    margin-top: -2px; }
  .header-navigation .__mobile-navigation .fa-bars {
    font-size: 25px; }

.dots-navigation.--position {
  position: fixed;
  left: 0;
  top: 50%;
  margin-top: -95px;
  margin-left: 50px; }
.dots-navigation ul {
  font-size: 0; }
.dots-navigation a {
  display: inline-block;
  margin-bottom: 32px; }
.dots-navigation i {
  font-size: 12px; }
.dots-navigation .fa-circle {
  display: none; }
.dots-navigation a:hover .fa-circle {
  display: block; }
.dots-navigation a:hover .fa-circle-o {
  display: none; }

.social-links {
  font-size: 21px; }
  .social-links.--position {
    position: fixed;
    right: 0;
    top: 50%;
    margin-right: 50px;
    margin-top: -60px; }
  .social-links li {
    margin-bottom: 12px;
    text-align: center; }

.footer .copyright {
  margin-bottom: 4vh;
  font-size: 12px; }

.about-us__navigation ul {
  margin-left: 19%; }
.about-us__navigation li {
  display: inline-block;
  margin-right: 62px; }
  .about-us__navigation li:last-child {
    margin-right: 0; }
.about-us__navigation a {
  font-family: GothamPro;
  font-size: 16px;
  text-decoration: underline; }
.about-us__navigation.--position {
  margin-top: 42px; }

.about-us-content.--position {
  padding-left: 327px;
  padding-top: 55px;
  position: relative;
  height: 70vh; }
.about-us-content .__title {
  position: absolute;
  transform: rotateZ(-90deg);
  color: #151515;
  font-family: GothamProBold;
  text-transform: uppercase;
  text-align: right; }
  .about-us-content .__title h1 {
    font-size: 65px;
    position: absolute;
    top: 54px;
    right: 0;
    line-height: 0; }
  .about-us-content .__title.--about-us-styles {
    bottom: 90px;
    left: -164px; }
    .about-us-content .__title.--about-us-styles .__title-bg {
      font-size: 210px; }
.about-us-content .__title-bg {
  display: inline-block;
  line-height: 0;
  opacity: 0.07; }

.about-studio {
  display: flex;
  align-items: center; }
  .about-studio img {
    float: left;
    margin-right: 60px;
    margin-bottom: 20px;
    width: 30%;
    max-width: 454px;
    min-width: 200px;
    max-height: 596px;
    transition: all 0.3s ease; }
  .about-studio .__text {
    font-size: 16px;
    max-width: 700px; }
