/*==========  Desktop First Method  ==========*/
 /* Height*/
@media only screen and (max-height : 1000px) {
/*	.about-us-content .__title {
		bottom: 242px;
		left: -154px;
	}
	.about-us-content .__title h1 {
		font-size: 52px;
		top: 14px;
		right: 56px;
	}
	.about-us-content .__title-bg {
		font-size: 86px;
	}*/
	.about-studio img {
		max-width: 350px;
	}
}
@media only screen and (max-height : 768px) {
	.header-logo.--position {
		margin-top: 8.4vh;
	}
	.header-navigation.--position {
		margin-top: 9.4vh;
	}
	.about-us__navigation.--position {
		margin-top: 58px;
	}
	.about-studio img {
		max-width: 250px;
	}
}
@media only screen and (max-height : 599px) {
	html, 
	body {
		overflow: auto;
	}
	.about-us-content .__title.--about-us-styles {
		bottom: auto;
		top: 200px;
	}
	.about-us-content.--position {
		height: auto;
	}
	
}
@media only screen and (max-height : 599px) and (max-width : 960px) {
	.social-links.--position {
		position: static;
		margin: 0;
		float: left;
	}
	.social-links li {
		display: inline-block;
		margin-right: 5px;
	}
}

@media only screen and (max-height : 700px) {
	.about-us-content .__title.--about-us-styles {
		bottom: 126px;
    		left: -116px;
	}
	.about-us-content .__title.--about-us-styles .__title-bg {
		font-size: 100px;
	}
	.about-us-content .__title h1 {
		    top: 12px;
		    right: 0;
	}
}
@media only screen and (max-height : 420px) {
	.dots-navigation {
		display: none !important;
	}
}

/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1900px) {
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.wrapper.--padding {
		padding: 0 50px;
	}

	.about-us-content .__title.--about-us-styles {
		bottom: 126px;
    		left: -116px;
	}
	.about-us-content .__title.--about-us-styles .__title-bg {
		font-size: 100px;
	}
	.about-us-content .__title h1 {
	    top: 12px;
	    right: 0;
	}
	.about-us-content.--position {
		padding-left: 134px;
	}
	.about-studio .__text {
		max-width: 55%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 960px) {
	.wrapper.--padding {
		padding: 0 25px;
	}
	.header-logo img {
		width: 92px;
	}
	.header-logo.--position,
	.header-navigation.--position {
		margin-top: 12vh;
	}
	.header-logo.--position {
		margin-left: 25px;
	}
	.about-studio {
		padding-top: 30px;
	}
	.about-studio img {
		margin-right: 20px;
	}
	.about-us__navigation ul {
		margin-left: 0;
		text-align: center;
	}
	.about-us__navigation.--position {
		margin-top: 10px;
	}
	.about-us-content.--position {
		padding-top: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	html, 
	body {
		overflow: auto;
	}
	.header-logo.--position {
		margin-top: 12vh;
	}
	.about-studio {
		flex-direction: column;
	}
	.about-us-content.--position {
		padding-left: 0;
	}
	.about-studio img {
		margin-right: 0;
	}
	.about-us-content .__title.--about-us-styles {
		bottom: auto;
		top: 200px;
	}
	.about-us-content.--position {
		height: auto;
		padding-bottom: 30px;
	}
	.about-studio .__text {
		text-align: center;
	}
	.about-us__navigation li {
	 	margin-bottom: 20px;
	}
}
@media only screen and (max-width : 600px) {
	.social-links.--position {
		position: static;
		margin: 0;
		float: left;
	}
	.social-links li {
		display: inline-block;
		margin-right: 5px;
	}

	.about-us-content .__title {
		display: none;
	}
	.footer .social-links,
	 .footer .copyright {
	 	line-height: 20px;
	 }
	.about-studio .__text {
	 	max-width: 90%;
	 }
	 .about-us__navigation ul {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	 }
	.about-us__navigation ul li {
	 	width: 49%;
	 	margin-right: 0;
	 }
	.about-us__navigation ul li:odd  {
	 	text-align: left;
	 }
	.about-us__navigation ul li:even {
	 	text-align: right;
	 }

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
